
        blockquote {
            background-color: #199;
            margin: 27px 0 32px 0;
            padding: 18px 18px 18px 18px;
        }
        .foo {
          color: green;
        }
        img {
          width: 500px;
        }
